.quyenle-name {
	padding: 10px ;
	padding-bottom:50px;
	font-family: "ThuFap", serif;
	font-size: 100px;
}

.quyen-contact {
	font-size: 25px ;
}

.portfolioTitle {
	font-size: 70px;
	font-family: 'Caveat', cursive;
}

