.quyenle-name {
	padding-top: 3% ;
	padding-bottom: 3% ;
	font-family: "ThuFap", serif;
	font-size: 10vw ;
}

.quyenle-name a {
  color: #000;
}

.quyenle-name a:hover {
	color: #e9ca87 ;
	text-decoration: none;
}

.quyen-contact {
	font-size: 200% !important;
}

.portfolioTitle {
	font-size: 70px;
	font-family: 'Caveat', cursive;
}

